.col-md-1 {
  flex: 1 1 8.333333333333332%;
}
.col-md-2 {
  flex: 2 2 16.666666666666664%;
}
.col-md-3 {
  flex: 3 3 25%;
}
.col-md-4 {
  flex: 4 4 33.33333333333333%;
}
.col-md-5 {
  flex: 5 5 41.66666666666667%;
}
.col-md-6 {
  flex: 6 6 50%;
}
.col-md-7 {
  flex: 7 7 58.333333333333336%;
}
.col-md-8 {
  flex: 8 8 66.66666666666666%;
}
.col-md-9 {
  flex: 9 9 75%;
}
.col-md-10 {
  flex: 10 10 83.33333333333334%;
}
.col-md-11 {
  flex: 11 11 91.66666666666666%;
}
.col-md-12 {
  flex: 12 12 100%;
}
a,
b {
  width: 10px;
}
body {
  background: #f00;
}
