doctype html
html
  head
    title task08
    meta(charset="utf-8")
    link(rel="stylesheet",href="index.css")
  body
    h2 float version
    .container.float
      //- .row
      .col-sm-6.col-md-4
        .col-content col-sm-6 col-md-4
      .col-sm-6.col-md-4
        .col-content col-sm-6 col-md-4
      .col-sm-12.col-md-4
        .col-content col-sm-12 col-md-4
      //- .row
      .col-sm-3.col-md-3
        .col-content col-sm-3 col-md-3
      .col-sm-6.col-md-6
        .col-content col-sm-6 col-md-6
      .col-sm-3.col-md-3
        .col-content col-sm-3 col-md-3
      //- .row
      .col-sm-2.col-md-1
        .col-content col-sm-2 col-md-1
      .col-sm-2.col-md-1
        .col-content col-sm-2 col-md-1
      .col-sm-8.col-md-2
        .col-content col-sm-8 col-md-2
      .col-sm-3.col-md-2
        .col-content col-sm-3 col-md-2
      .col-sm-3.col-md-6
        .col-content col-sm-3 col-md-6

    h2 flex version
    .container.flex
      .col-sm-6.col-md-4
        .col-content col-sm-6 col-md-4
      .col-sm-6.col-md-4
        .col-content col-sm-6 col-md-4
      .col-sm-12.col-md-4
        .col-content col-sm-12 col-md-4
      //- .row
      .col-sm-3.col-md-3
        .col-content col-sm-3 col-md-3
      .col-sm-6.col-md-6
        .col-content col-sm-6 col-md-6
      .col-sm-3.col-md-3
        .col-content col-sm-3 col-md-3
      //- .row
      .col-sm-2.col-md-1
        .col-content col-sm-2 col-md-1
      .col-sm-2.col-md-1
        .col-content col-sm-2 col-md-1
      .col-sm-8.col-md-2
        .col-content col-sm-8 col-md-2
      .col-sm-3.col-md-2
        .col-content col-sm-3 col-md-2
      .col-sm-3.col-md-6
        .col-content col-sm-3 col-md-6