* {
	margin: 0; 
	padding: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.logo {
	height: 30px;
	width: 35px;
	margin: 0 0 0 20px;
}
.flower {
	height: 400px;
	width: 500px;
}

body {
	background-color: #E3E3E3;
}


header {
	background-color: #3B3B3B;
	overflow: hidden;
}

header nav{
	float: right;
	clear: both;
	margin: 3px 10px;
}

header nav:after {
	content: '';
	clear: both;
	display: block;

}

header ul li{
	float: right;
	margin: 3px 5px;
	list-style-type: none;
}

header ul li:after {
	content: '';
	clear: both;
	display: block;

}

header ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0 8px;
	font-size: .9em;

}

nav>ul>li>a:link {color:#fff;}
nav>ul>li>a:hover {color:#4876FF;}
nav>ul>li>a:active {color:#CD2626;}

article,aside {	
	overflow: hidden;
	background-color: #fff;
	margin: 15px auto;
	padding: 20px 10px;
	box-shadow: 2px 4px 4px #D4D4D4;
	min-width: 660px;
	max-width: 1200px;

	
}

h3 {
	color: #7A7A7A;
	font-size:1.1em;
	line-height: 25px;
}


p {
	text-indent: 24px;
}

article#a2>ul>li,article#a4>ul>li{
	text-indent: 35px;
	list-style-type: none;

}


article#a3 figure {
	border: 1px solid  #D4D4D4;
	margin: 8px;
	width: 40%;
	text-align: center;
	margin-left: 80px;
	padding: 25px;
}


article#a3 figure img {
	margin: 15px 20px;
}

p#tb_desc {
	text-indent: 0px;
}
table{
	width: 100%;
	border: 1px solid #6C7B8B;
	border-collapse: collapse;
}

tr>th {
	border: 1px solid #6C7B8B;
	background-color: #4A4A4A;
	color: #fff;
	text-align: left;
} 
tr>td {
	border: 1px solid #6C7B8B;
} 

tr#calc {
	background-color: #D4D4D4;
	font-weight: bold;

}


aside>h3 {
	border-left: 3px solid #D4D4D4;
	padding: 5px;
	color: #000;
}

form fieldset {
	border:none;
}
form legend {
	display: none;
}

form .desc {
	float: left;
	width:50%;
	text-align: right;
	margin:0 10px;	
}

form .desc:after {
	content: '';
	clear: both;
	display: block;
}


form input, form select,form textarea {
	outline: none;

}

form .gender, form .hobby {
	margin: 0 3px;
}


.reg {
	text-align: left;
	margin: 5px 0;
	
}
.info{
	color: #D4D4D4;
	margin-left: 50%;
	font-size: 0.75em;
}

form  textarea {
	width: 45%;
	height: 150px;
}

#submit {
	width: 100%;
	border:none;
	background-color: #6495ED;
	color:#fff;
	height: 30px;
	border-radius: 5px;	
	font-size: 1.1em;
}