doctype html
head
  title task22
  meta(charset="utf-8")
  link(rel="stylesheet", href="task22.css")
body
  div#btn
    input(type="button" class="pre-order" value="前")
    input(type="button" class="in-order" value="中")
    input(type="button" class="post-order" value="后")
  div#tree
    div.A A
      div.B1.B B1
        div.C1.C C1
          div.D1.D D1
          div.D2.D D2
        div.C2.C C2
          div.D3.D D3
          div.D4.D D4
      div.B2.B B2
        div.C3.C C3
          div.D5.D D5
          div.D6.D D6
        div.C4.C C4
          div.D7.D D7
          div.D8.D D8


  script(src="task22.js")
