*
  margin 0
  padding 0
input
  width 50px
  height 50px
  margin 10px
  border-radius: 25px
  border none
  outline:  none
  background-color: #adb39b
  color #fff
#btn,#tree
  width 80%
  margin 10px auto
#btn,#tree,.A,.B,.C,.D
  display: flex
  justify-content: space-around
  align-items: center
  border-radius: 2px
  background-color: #fff;
.A
  border 1px solid #484111
  width 100%
  height 200px
  color #484111
  z-index: 4
.B,.C,.D
  height 80%
.B
  border 1px solid #5a6636
  width: 45%
  color #5a6636
.C
  border 1px solid #b4a42b
  width: 40%
  color #b4a42b
.D
  border 1px solid #fade11
  width: 35%
  color #fade11