doctype html
head
  title task21
  meta(charset="utf-8")
  link(rel="stylesheet", href="task21.css")
body
  div.operator-tag
    |Tag:
    input(type="text" id ="tag")
  div.tag-display
  div.operator-hobby
    textarea( id="input")
    input(type="button" value="Left-in" id="left-in")
    input(type="button" value="Query" id="querybtn")
    input(type="text"  id="queryinput")
  div.display
  script(src="task21.js")
