*
  margin 0
  padding 0
body
 margin 30px
input
  margin 5px
  padding 3px
.display,.tag-display
  width auto
  height 100px


  .item
    background-color: #78BCFB;
    color white
    font-size: 15px
    display inline-block
    margin 3px
    padding 5px
    text-align: center
    cursor: pointer
    span
      background-color: #fc0
      color #191970
.display>.item
  background-color: orange
textarea
  display: block
  height:100px
  width 200px
  margin 10px
  outline: none
  padding 2px