
doctype html
head
  title task25
  meta(charset='utf-8')
  link(rel='stylesheet', href='task25.css')
.sidebar
  header
    form.search
      input.input-search(type='search', name='', placeholder='C#')
      input#submit(type='submit', value='Search')
  ul.nav
    li.panel.overview
      a.level1(href='#intro') Overview
    li.panel.collapsed
      a.level1(href='#intro') INTRO VIDEOS
      ul#intro.collapse
        li
          a.level2(href='#intro') Overview
        li
          a.level2(href='#intro') Quick Tour using JavaScript
        li
          a.level2(href='#intro') Setup and Basics
        li
          a.level2(href='#intro') Configure and Extend
        li
          a.level2(href='#intro') Coding Editing
    li.panel.collapsed
      a.level1(href='#setup') SETUP
      ul#setup.collapse
        li
          a.level2(href='#intro') Overview
        li
          a.level2(href='#intro') Mac
        li
          a.level2(href='#intro') Linux
        li
          a.level2(href='#intro') Windows
        li
          a.level2(href='#intro') Addional Components
    li.panel.collapsed
      a.level1(href='#editor') EDITOR
      ul#editor.collapse
        li
          a.level2(href='#intro') The Basics
        li
          a.level2(href='#intro') Extension Marketplace
        li
          a.level2(href='#intro') IntlliSense
        li
          a.level2(href='#intro') Editing Evolved
        li
          a.level2(href='#intro') Debugging
        li
          a.level2(href='#intro') Version Control
    li.panel.collapsed
      a.level1(href='#customization') CUSTOMIZATION
      ul#customization.collapse
        li
          a.level2(href='#intro') Overview
        li
          a.level2(href='#intro') user and Workspace Settings
        li
          a.level2(href='#intro') Key Bindings
        li
          a.level2(href='#intro') Snippets
        li
          a.level2(href='#intro') Colorizer
        li
          a.level2(href='#intro') Themes
        li
          a.level2(href='#intro') Display Language
    li.panel.collapsed
      a.level1(href='#languages') LANGUAGES
      ul#languages.collapse
        li
          a.level2(href='#intro') Overview
        li
          a.level2(href='#intro') JavaScript
        li
          a.level2(href='#intro') C#
        li
          a.level2(href='#intro') C++
        li
          a.level2(href='#intro') JSON
        li
          a.level2(href='#intro') HTML
        li
          a.level2(href='#intro') PHP
        li
          a.level2(href='#intro') Python
        li
          a.level2(href='#intro') Markdown
        li
          a.level2(href='#intro') TypeScript
        li
          a.level2(href='#intro') CSS,Sass and Less
        li
          a.level2(href='#intro') Dockerfile
    li.panel.collapsed
      a.level1(href='#runtimes') RUNTIMES
      ul#runtimes.collapse
        li
          a.level2(href='#intro') Node.js
        li
          a.level2(href='#intro') .NET Core
        li
          a.level2(href='#intro') Unity
        li
          a.level2(href='#intro') Office
#container
  ul.rightmenu
    li#addsibling &#x6DFB;&#x52A0;&#x540C;&#x7EA7;&#x76EE;&#x5F55;
    li#addson &#x6DFB;&#x52A0;&#x4E0B;&#x7EA7;&#x76EE;&#x5F55;
    li#delete &#x5220;&#x9664;&#x5F53;&#x524D;&#x76EE;&#x5F55;
script(src='task25.js')