doctype html
head
  title
    |task10
  meta(charset="utf-8")
  link(rel="stylesheet", href="task10.css")

body
  div.container
    div.one.box
      |1
    div.two.box
      |2
    div.three.box
      |3
    div.four.box
      |4