* {
  margin: 0;
  padding: 0;
}

body {
  font-family: SimHei, Consolas, monaco, monospace, 'Open Sans', Verdana, Geneva, sans-serif;
  background-color: #ebebed;
}

#wrapper {
  margin: 30px auto;
  width: 700px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  /*background-color: #eee;*/
}

#cal_header {
  position: relative;
  background-color: #b0dfde;
  /*background-color:#7392b7;*/
  height: 70px;
  color: #fff;
  font-size: 24px;
  line-height: 70px;
}

#cal_header div {
  display: inline-block;
}

#preMonth,
#nextMonth {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  cursor: pointer;
}

#preMonth {
  position: absolute;
  left: 40px;
  top: 24px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
}

#preMonth:hover {
  border-bottom: 4px solid #ddd;
  border-left: 4px solid #ddd;
}

#nextMonth {
  position: absolute;
  right: 40px;
  top: 24px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
}

#nextMonth:hover {
  border-top: 4px solid #ddd;
  border-right: 4px solid #ddd;
}

#year {
  position: absolute;
  left: 200px;
  cursor: pointer;
}

#month {
  width: 70px;
  position: absolute;
  left: 320px;
  cursor: pointer;
  text-align: right;
}

#today {
  position: absolute;
  left: 480px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th {
  width: 100px;
  height: 60px;
  color: #555;
  font-size: 24px;
  /*border: 1px solid #222;*/
}

td {
  /*border: 1px solid #222;*/
  width: 100px;
  height: 100px;
  color: #555;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.pre_month,
.next_month {
  color: #aaa;
}


.selected {
  border-radius: 50px;
  background-color: #b0dfde;
}

#cal_header #year-to-select,
#cal_header #month-to-select {
  display: none;
  position: absolute;
  background-color: #aaa;
  opacity: 0.9;
  top: 70px;
}

.year-select,
.month-select {
  width: 100px;
  height: 70px;
  border: 3px solid transparent;
  text-align: center;
  cursor: pointer;
  margin: 0px 5px;
}

.year-select:hover,
.month-select:hover {
  border-color: #eee;
}