doctype html
html
  head
    title task11
    meta(charset="utf-8")
    meta(name="viewport",content="width=1000;intial-cale=1.0,user-scalable=no")
    link(rel="stylesheet", href="task11.css")
  body
    header
      a(href="#") 返回
      h1 这是标题
    div.main
      nav
        ul.menu
          li 导航
          li.active 导航
          li 导航
          li 导航
          li 导航
      div.scroll-pic
        img(src="images/scroll.jpg", alt="little bear")
      div.link-box
        ul.tab
          li
            a(href="")
              img(src="images/link_tab.jpg", alt="")
              span 标签
          li
            a(href="")
              img(src="images/link_tab.jpg", alt="")
              span 标签
          li
            a(href="")
              img(src="images/link_tab.jpg", alt="")
              span 标签
          li
            a(href="")
              img(src="images/link_tab.jpg", alt="")
              span 标签
          li
            a(href="")
              img(src="images/link_tab.jpg", alt="")
              span 标签
        ul.subfield-title
          li
            img(src="images/sub1.jpg", alt="")
            h4 分栏一
            h5 分栏小标题
          li
            img(src="images/sub2.jpg", alt="")
            h4 分栏一
            h5 分栏小标题
          li
            img(src="images/sub3.jpg", alt="")
            h4 分栏一
            h5 分栏小标题
      div.module
        h2 模块一
        div.copywritings
          img(src="images/mod.jpg", alt="")
          ul
            li 这是文案
            li 这是文案
            li 这是文案
            li 这是文案
        div.copywritings
          img(src="images/mod.jpg", alt="")
          ul
            li 这是文案
            li 这是文案
            li 这是文案
            li 这是文案
      div.module
        h2 模块二
        div.copywritings
          img(src="images/mod.jpg", alt="")
          ul
            li 这是文案
            li 这是文案
            li 这是文案
            li 这是文案
        div.copywritings
          img(src="images/mod.jpg", alt="")
          ul
            li 这是文案
            li 这是文案
            li 这是文案
            li 这是文案

      div.articles
        ul.news
          li.item
            div.pic
              a(href="")
                img(src="images/article.jpg", alt="")
            div.cont-box
              h1.title 这是文章标题字号是22的文章标题
              p.info 文章来源 6分钟前
          li.item
            div.pic
              a(href="")
                img(src="images/article.jpg", alt="")
            div.cont-box
              h1.title 这是另一个文章标题
              p.info 文章来源 7分钟前
          li.item.three-row
            h1.title 这是另一个文章标题
            div.pic
              a(href="")
                img(src="images/article.jpg", alt="")
                img(src="images/article.jpg", alt="")
                img(src="images/article.jpg", alt="")
            p.three-info 文章来源 7分钟前

