* {
  margin: 0;
  padding: 0;
}
body {
  font: 1vw 'SimHei', sans-serif;
  color: #313131;
  margin: 0 auto;
  background-color: #f5f5f5;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  background: url("images/back.png") no-repeat 2vw 2vw;
  background-size: 4.5em;
  background-color: #91d4da;
  position: relative;
  text-align: center;
}
header a,
header h1 {
  line-height: 11.5vw;
  color: #fff;
  font-size: 4.5em;
}
header a {
  position: absolute;
  left: 0;
  padding-left: 7.2vw;
}
.menu {
  height: 10vw;
  display: flex;
  flex-direction: row;
  font-size: 4em;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.menu li {
  box-sizing: border-box;
  line-height: 8vw;
  width: 19.7vw;
  text-align: center;
  cursor: pointer;
  padding: 0.6vw 0;
  border-bottom: 0.8vw solid transparent;
}
.menu .active,
.menu li:hover {
  border-bottom-color: #91d4da;
}
.scroll-pic img {
  width: 100vw;
  height: 55vw;
}
.link-box {
  background-color: #fff;
  padding: 0 2.8vw;
}
.link-box ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tab {
  padding: 4vw 0;
  border-bottom: 1px solid #ddd;
}
.tab img {
  width: 12vw;
  height: 12vw;
}
.tab span {
  display: block;
  font-size: 3.5em;
  text-align: center;
  color: #000;
}
.subfield-title {
  padding: 6vw 0 5.5vw 0;
}
.subfield-title li {
  flex-grow: 1;
  text-align: center;
}
.subfield-title li img {
  max-width: 100%;
}
.subfield-title li+li {
  border-left: 1px solid #ddd;
}
.subfield-title h4 {
  font-size: 4.2em;
  color: #313131;
  padding: 1vw 0 1.5vw 0;
}
.subfield-title h5 {
  font-size: 3.8em;
  color: #5f5f5f;
  padding-top: 1.5vw;
}
.subfield-title img {
  width: 30.9vw;
  height: 22vw;
}
.module {
  margin: 3.5vw 0;
  background-color: #fff;
  padding: 2vw;
}
h2 {
  font-size: 4.4em;
  color: #313131;
  line-height: 8vw;
  border-bottom: 1px solid #ddd;
}
.copywritings {
  padding-top: 3.4vw;
  display: flex;
  justify-content: space-between;
}
.copywritings img {
  width: 24.7vw;
  height: 22.7vw;
}
.copywritings ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 0 1 70vw;
}
.copywritings ul li {
  line-height: 10vw;
  font-size: 3.4em;
  height: 10vw;
  background-color: #f5f5f5;
  margin: 0.2vw 0;
  text-align: center;
  flex: 0 1 28vw;
}
.articles {
  background-color: #fff;
}
.item {
  border-bottom: 1px solid #f5f5f5;
  padding: 2vw 2vw;
  display: flex;
}
.item img {
  width: 28vw;
  height: 20vw;
}
.cont-box {
  padding-left: 2vw;
  position: relative;
}
.three-row {
  flex-direction: column;
  position: relative;
}
.three-row >.pic>a {
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
}
.three-row img {
  width: 31.4vw;
  height: 20.7;
}
h1 {
  font-size: 4.5em;
}
.info,
.three-info {
  font-size: 3.6em;
  color: #ccc;
}
.info {
  position: absolute;
  bottom: 0vw;
}
