*
  margin:0
  padding: 0
body
  font: 10px 'SimHei',sans-serif ;
  color:#313131;
  max-width: 1000px;
  margin:0 auto;
  background-color:#f5f5f5;
li
  list-style-type: none;
a
  text-decoration: none;

header
  background: url(images/back.png) no-repeat 0px 7px;
  background-color: #91d4da;
  position: relative;
  text-align: center;
  a,h1
    line-height: 115px;
    color:#fff
    font-size: 4.5em
  a
    position: absolute
    left:0
    padding-left:72px;


.menu
  height:100px;
  display: flex;
  flex-direction: row;
  font-size: 4em;
  align-items: center;
  justify-content: space-between;
  background-color:#fff;
  li
    box-sizing: border-box;
    line-height: 80px;
    width:197px;
    text-align: center;
    cursor: pointer
    box-sizing: border-box;
    padding:10px 0 10px 0;
  .active,li:hover
      padding-bottom: 5px;
      border-bottom:5px solid #91d4da;

.link-box
  background-color:#fff;
  padding:0 28px;
  ul
    display: flex;
    flex-direction: row;
    justify-content: space-around;
.tab
  padding:40px 0;
  border-bottom: 1px solid #ddd;
  span
    display: block;
    font-size:3.5em;
    text-align: center;
    color:#000;
.subfield-title
  padding:60px 0 55px 0;
  li
    flex-grow: 1;
    text-align: center;
  li+li
    border-left:1px solid #ddd
  h4
    font-size: 4.2em;
    color:#313131;
    padding:10px 0 15px 0;
  h5
    font-size: 3.8em;
    color:#5f5f5f;
    padding-top:15px;

.module
  margin:35px 0;
  background-color: #fff;
  padding:20px 28px;
h2
  font-size: 4.4em;
  color:#313131;
  line-height: 80px;
  border-bottom: 1px solid #ddd;
.copywritings
  padding-top:34px;
  display: flex
  justify-content:space-between;
  ul
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex:0 1 670px;
    li
      line-height: 100px;
      font-size: 3.4em
      height: 100px;
      background-color:#f5f5f5;
      margin:2px;
      text-align: center;
      flex:0 1 320px;

.articles
  background-color: #fff;
.item
  border-bottom: 2px solid #f5f5f5;
  padding: 20px 20px;
  display: flex;
.cont-box
  padding-left:20px;
  position: relative;
.three-row
  flex-direction: column;
  position: relative;
  >.pic>a
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
h1
  font-size: 4.5em;

.info,.three-info
  font-size: 3.6em;
  color:#ccc;
.info
  position: absolute;
  bottom:0px;










