*
  margin:0
  padding: 0
body
  font: 1rem 'SimHei',sans-serif ;
  color:#313131;
  background-color:#f5f5f5;
  width: 100rem;
  margin:0 auto;
li
  list-style-type: none;
a
  text-decoration: none;

header
  background: url(images/back.png) no-repeat 2rem 2rem;
  background-size: 4.5em;
  background-color: #91d4da;
  position: relative;
  text-align: center;
  a,h1
    line-height: 11.5rem;
    color:#fff
    font-size: 4.5em
  a
    position: absolute
    left:0
    padding-left:7.2rem;


.menu
  height:10rem;
  display: flex;
  flex-direction: row;
  font-size: 4em;
  align-items: center;
  justify-content: space-between;
  background-color:#fff;
  li
    box-sizing: border-box;
    line-height: 8rem;
    width:19.7rem;
    text-align: center;
    cursor: pointer
    padding:.6rem 0;
    border-bottom: .8rem solid transparent;
  .active,li:hover
      border-bottom-color:  #91d4da;
.scroll-pic img
    width: 100rem;
    height:55rem;
.link-box
  background-color:#fff;
  padding:0 2.8rem;
  ul
    display: flex;
    flex-direction: row;
    justify-content: space-around;
.tab
  padding:4rem 0;
  border-bottom: .1rem solid #ddd;
  img
    width:12rem;
    height: 12rem;
  span
    display: block;
    font-size:3.5em;
    text-align: center;
    color:#000;
.subfield-title
  padding:6rem 0 5.5rem 0;
  li
    flex-grow: 1;
    text-align: center;
    img
      max-width: 100%;
  li+li
    border-left:.1rem solid #ddd
  h4
    font-size: 4.2em;
    color:#313131;
    padding:1rem 0 1.5rem 0;
  h5
    font-size: 3.8em;
    color:#5f5f5f;
    padding-top:1.5rem;
  img
    width:30.9rem;
    height: 22rem;
.module
  margin:3.5rem 0;
  background-color: #fff;
  padding:2rem;
h2
  font-size: 4.4em;
  color:#313131;
  line-height: 8rem;
  border-bottom: .1rem solid #ddd;
.copywritings
  padding-top:3.4rem;
  display: flex
  justify-content:space-between;
  img
    width:24.7rem
    height:22.7rem
  ul
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex:0 1 70rem;
    li
      line-height: 10rem;
      font-size: 3.4em
      height: 10rem;
      background-color:#f5f5f5;
      margin:.2rem 0;
      text-align: center;
      flex:0 1 28rem;

.articles
  background-color: #fff;
.item
  border-bottom: .2rem solid #f5f5f5;
  padding: 2rem 2rem;
  display: flex;
  img
    width:28rem;
    height: 20rem;
.cont-box
  padding-left:2rem;
  position: relative;
.three-row
  flex-direction: column;
  position: relative;
  >.pic>a
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  img
    width: 31.4rem;
    height:20.7;
h1
  font-size: 4.5em;
.info,.three-info
  font-size: 3.6em;
  color:#ccc;
.info
  position: absolute;
  bottom:0rem;










