doctype html
head
  title task18
  meta(charset="utf-8")
  link(rel="stylesheet", href="task18.css")
body
  div.operator
    input(type="text" id="input")
    input(type="button" value="Left-in" id="left-in")
    input(type="button" value="Right-in" id="right-in")
    input(type="button" value="Left-out" id="left-out")
    input(type="button" value="Right-out" id="right-out")
  div.display
  script(src="task18.js")
