* {
  margin: 0;
  padding: 0;
}
input {
  margin: 5px;
  padding: 3px;
}
.display>div {
  min-width: 40px;
  line-height: 40px;
  background-color: #f00;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}
