doctype html
head
  title task26
  meta(charset = "utf-8")
  link(href="task26.css", rel="stylesheet")
div.container
  div.wrapper
    div.universe
    div.controller
      div.track1
        span track1
        button(type="button" class="create") CREATE
        button(type="button" class="fly") FLY
        button(type="button" class="stop") STOP
        button(type="button" class="destroy") DESTROY
      div.track2
        span track2
        button(type="button" class="create") CREATE
        button(type="button" class="fly") FLY
        button(type="button" class="stop") STOP
        button(type="button" class="destroy") DESTROY
      div.track3
        span track3
        button(type="button" class="create") CREATE
        button(type="button" class="fly") FLY
        button(type="button" class="stop") STOP
        button(type="button" class="destroy") DESTROY
      div.track4
        span track4
        button(type="button" class="create") CREATE
        button(type="button" class="fly") FLY
        button(type="button" class="stop") STOP
        button(type="button" class="destroy") DESTROY
  div.loginfo
    h3 LOG INFO