doctype html
head
  title task09
  meta(charset="utf-8")
  link(rel="stylesheet", href="task09.css")
body
  header
    img(src="images/logo.png", alt="logo")
    form(action="")
      fieldset
        legend search&login
        section.search
          label(for="search")
          input(type="search",name="search",id="search")
        section.login
         input(type="submit" value="登录")
  aside
    figure
      img(src="images/headshot.png", alt="headshot")
      figcaption ABC123
    ul
      li.collect
        span 110
        span 收藏
      li.fans
        span 313
        span 粉丝
    nav
      ul
        li.report.first
          span.icon
          span.dir_name 个人报表
          ul
            li.file1.second
              span.icon
              span.icon
              span.dir_name 文件一
            li.file2.second
              span.icon
              span.icon
              span.dir_name 文件二
              ul
               li.doc1.third
                 span.icon
                 span.dir_name 文档1
               li.doc2.third
                 span.icon
                 span.dir_name 文档2
            li.file3.second
              span.icon
              span.icon
              span.dir_name 文件三
        li.collection.first
          span.icon
          span.dir_name 个人收藏
        li.myshare.first
          span.icon
          span.dir_name 我的分享
        li.gallery.first
          span.icon
          span.dir_name 图库
        li.growth_record.first
          span.icon
          span.dir_name 成长记录
        li.account.first
          span.icon
          span.dir_name 账户信息




  div#main
    div.directory
      p
        span C站
        |  /
        span  个人报表
        |  /
        span  文件一
        |  /
        span  文档1

    div.search
      form.search_form
        fieldset
          legend 查询
          section.order
            label(for="order") 查询项
            select(id="order",name="order")
              option 第一项
          section.buyer
            label(for="") 买方
            select(id="order",name="order")
              option 小A
          section.seller
            label(for="") 卖方
            select(id="order",name="order")
              option 小C
          section.date
            label(for="") 日期
            input(type="date",id="order",name="order",value="2016-04-01")
          section.num_of_pp
            label(for="") 人数
            select(id="order",name="order")
              option 10人
          section.time_total
            label(for="") 总耗时
            select(id="order",name="order")
              option 8天
          section.num_of_deal
            label(for="") 成交项
            select(id="order",name="order")
              option 10项
          section.search
            input(type="submit",id="order",value="搜索")

      div.search_history
    div.stat
      ul
        li.green
        li.blue
        li.red
        li.yellow
    div.proj
      div.material
      div.proj_submit
    div.other
      div.calender
      div.car_top_brands


