placeholder()
  &::-webkit-input-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

*
  margin: 0
  padding: 0

input
textarea
  +placeholder()
    color inherit
    font-size: inherit
    font-family: inherit
    line-height: inherit
input
select
button
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
li
  list-style-type: none
html
  height: 100%

column-left-width = 260px
column-right-width = 890px

body
  min-width column-left-width + column-right-width
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font: 12px/1.2 "SimHei";
h2
  font-size: 12px
  color: rgb(170, 170, 170)
  line-height: 40px;
  background-color: #f4f5f6
  padding-left: 10px


.card
  border:1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;

header
  background-color: #2289bf
  height: 57px
  display: flex;
  align-items: center;
  // position: relative
  // &:after
  //   content: ''
  //   clear:both
  //   display: block
.logo
  margin-left:50px;
  // position: absolute
  // left:50px
  // top:10px
.search_page
  margin-left:auto;
  // position: absolute
  // right:100px
  // top:15px
  // float:left
  input
    width: 313px
    height: 28px
    line-height: 28px
    border:none
    border-radius: 25px
    display: inline-block
    outline: none
    background-image: url(images/search_icon.png)
    background-repeat: no-repeat
    background-position: 15px 5px
    text-indent: 35px
#login
  color: #FFFFFF
  line-height 2.25
  background-color:  #2289bf
  border:none
  outline: none;
  background-image: url(images/login.png)
  background-repeat: no-repeat
  background-position: 15px 5px
  padding-left:39px;
  margin-right:36px;
  //padding:0 35px
  // position: absolute
  // right:2px
  // top:15px


.container
  display: flex;
  flex:1 0;

//left
aside
  background-color:#2a2e3d
  flex:0 0 column-left-width;

//head pic
.avatar
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding:15px
  img
    width:57px;
    height:57px;
    border-radius: 50%;
    border:1px solid #d4d4d6;
    padding:3px;
  figcaption
    color: #F6F5F5
    font-size 16px
    padding:0 23px

//collection & fans
.brief_info
  display: flex
  justify-content: center
  align-content: center
  li
    display: flex
    flex-direction: column
    text-align: center
    color: #6E8095
    padding:0 35px
    span:first-child
      font-size:14px
  li:first-child
    border-right: 2px solid rgba(56,61,78,0.5)

//document directory
.nav_dir
  padding:10px 40px
  color: #6E8095
  line-height: 4
.dir_name
  padding-left:12px
.icon-arrow,
.icon
  background-repeat: no-repeat
  display: inline-block
  width: 12px
  height: 12px
  margin-right: 7px;
  background-position: 50% 50%
.report>.icon
  background-image: url(images/report.png)
.file>.icon
  background-image: url(images/file.png)
.file .icon-arrow
  background-image: url(images/arrow.png)
.doc>.icon
  background-image: url(images/doc.png)
.collection>.icon
  background-image: url(images/star.png)
.myshare>.icon
  background-image: url(images/myshare.png)
.gallery>.icon
  background-image: url(images/star.png)
.growth_record>.icon
  background-image: url(images/star.png)
.account>.icon
  background-image: url(images/account.png)
.second
  padding-left:30px
.third
  padding-left: 25px
.second>.dir_name,
.third>.dir_name
  line-height: 2.5
  padding-left:5px
.active
  &>.dir_name
    color:#fff;
  &>.icon
  &>.icon-arrow
    -webkit-filter: brightness(4)
  &>.icon-arrow
    transform: rotate(90deg)


//right
#main
  flex:1 0 auto;
  background-color: #eee

//path
.directory
  line-height: 31px
  background-color: #fff
  p
    padding-left:30px
    font-size: 12px
    color: rgb(170, 170, 170)
    span:last-child
      color:#6898c2

.wrapper
  width:column-right-width;
  margin: auto;
//I search project
.search_form_container
  margin-top:20px
.search_form
  height:85px
  background-image: url(images/change.png)
  background-repeat: no-repeat
  background-position: 333px 25px
  border: none
  position: relative
  background-color: #fff
  border-top:1px solid #ddd
  border-left:1px solid #ddd
  line-height: 2.167
  // &:after
  //   content: ''
  //   height:85px
  //   display: block
  label
    color: rgb(170, 170, 170)
  select
    color: rgb(50, 51, 51)
    outline:none
    height: 25px
    text-indent: 5px
  section
    position: absolute
.order
  left:30px
  top:15px
  select
    width:70px
    margin-left:16px
.buyer
  left:180px
  top:15px
  select
    width:110px
    margin-left:16px
.seller
  left:180px
  top:45px
  select
    width:110px
    margin-left:16px
.date
  left:400px
  top:15px
  input
    width:120px
    margin-left:16px
    text-indent: 5px
    color: rgb(50, 51, 51)
    outline:none
    height: 22px
.num_of_pp
  left:400px
  top:45px
  select
    width:70px
    margin-left:16px
.num_of_deal
  left:530px
  top:45px
  select
    width:120px
    margin-left:16px
.time_total
  left:580px
  top:15px
  select
    width:70px
    margin-left:16px
.search_btn
  left:730px
  top:30px
  input
    width:50px
    height: 25px
    background-color: #388ac1
    color: rgb(255, 255, 255)
    border:none
.reverse
  color: rgb(255, 255, 255)
  line-height: 2.167
  text-decoration: none
  position:absolute
  left:347px
  top:30px

//II search history
.search_history
  margin-top:10px
  display:flex
  flex-direction:row
  justify-content: space-between
  div
    background-color: #fff
    border-top:1px solid #ddd
    border-left:1px solid #ddd
    height:65px
    box-sizing: border-box;
.toleft,
.toright
  width:30px
  background-repeat: no-repeat
  background-position:center
.toleft
  background-image: url(images/arrow_left.png)
.toright
  background-image: url(images/arrow_right.png)
.history
  width:110px
  font-family: "Microsoft YaHei"
  text-align: center;
  padding-top:14px;
  paddind-bottom:11px;
  // display: flex
  // flex-direction: column
  // justify-content: center
  // align-items: center
.time
  color: rgb(50, 51, 51)
  margin-bottom: 10px
.currency
  color:#aeaeae
  font-weight: bolder
.amount
  font-size: 21px
  color: rgb(236, 101, 0)
  line-height: 0.686
.history:hover
  border-top:3px solid #4389c9
  padding-top: 12px;
.history_query
  width:130px
  display: flex
  align-items: center
  justify-content: flex-end
  background-image: url(images/search_history.jpg)
  background-repeat: no-repeat
  background-position: 20px 15px
  font-family: "Microsoft YaHei"
  line-height: 1.381
  color: rgb(83, 83, 83)
  p
    margin:20px

//III  statistic
.stat
  margin-top:20px
  height: 95px
  margin-bottom:10px
.stat_title
  font-family: "Microsoft YaHei"
  color: rgb(50, 51, 51)
  line-height: 1.62
.stat_graphic
  display:flex
  flex-direction: row
  justify-content: space-between
  li
    height: 70px
    width:200px
    background-color: #fff
    box-sizing:border-box
    display:flex
    flex-direction: row
    align-items: center
    padding:10px 15px 10px 10px
    justify-content: space-between
    border:1px solid #ddd
    div
      width:60px
      height:45px
    p
      span
        display: block;
        line-height: 2
        color: rgb(50, 51, 51)
      span:last-of-type
        font-size: 10px
        color: rgb(170, 170, 170)
  .green
    border-left:4px solid #44b29e
    div
      background-color: #44b29e
  .blue
    border-left:4px solid #388ac1
    div
      background-color: #388ac1
  .red
    border-left:4px solid #cf4a36
    div
      background-color: #cf4a36
  .yellow
    border-left:4px solid #e2cd47
    div
      background-color: #e2cd47

//V
.proj
  margin-top:10px
  display: flex
  justify-content: space-between

//V project table
.material
  width:530px
.nav_tabs
  display: flex
  flex-direction: row
  margin:15px 20px 0 20px
  li
    margin-right:5px
    width: 80px
    height: 28px
    text-decoration: none
    font-family: "Microsoft YaHei"
    color: rgb(83, 83, 83)
    line-height: 1.381
    display: flex
    justify-content: center
    align-items: center
    background-color: #ededf0
    border-radius: 5px 5px 0 0
    cursor: pointer;
    border:1px solid #ededf0;
    border-sizing:border-box;
  .active
    border:1px solid #ddd
    border-radius: 5px 5px 0 0
    background-color: #fff;
    position: relative;
    &:after
      position: absolute
      left:0
      right:0
      top:27px
      content:''
      height:4px
      display: block
      width: 80px
      background-color: #fff
.tab_pane
  margin:0 20px 25px 20px
  width: 490px
  height: 250px
  border:1px solid #ddd
  border-radius: 0 4px 4px 4px
  display: flex
  justify-content: center
  align-items: center
  table
    border:1px solid #ddd
    border-collapse: collapse
    td
      width: 101px
      height: 30px
      border:1px solid #ddd
      font-family: "SimSun"
      color: rgb(83, 83, 83)
      line-height: 2.5
      text-align: center
      &:hover
        background-color: #f4f6f7

price_width = 94px

//V project search
.proj_submit
  width: 350px
.search_proj
  padding 15px 20px 20px
  height: 270px;
  border:none;
  &:after
    conten:""
    display:block
    clear:both
  input[type="text"]
    width 100%
  label
    display: block;
    font-family: "Microsoft YaHei";
    color: rgb(195, 194, 194);
    line-height: 1.381;
    text-indent:5px;
  section
    .user_input,
    .user_description
      border:none;
      height:30px;
      outline:none;
      text-indent:5px;
    .user_description
      height:120px;
      padding-top:8px;
      resize:none;
  .proj_title
    padding-bottom: 0;
    border-bottom:1px solid #ddd;
  .proj_price
    float:left;
    width: price_width;
    border-right:1px solid #ddd;
    padding-top:2px
  .proj_desc
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding-top:2px
  .proj_manager
    padding-top:2px
    margin-left price_width + 1px
  .proj_agreement
    display: flex
    align-items: center
    height 34px
    .checkbox
    .checkbox-replace
      width 13px
      height 13px
      border 0
    .checkbox
      opacity 0
    .checkbox-replace
      background: #d5d6d5 no-repeat 50% 50%
      margin-left -12px
    .checkbox:checked+.checkbox-replace
      background-image: url(images/checked.png)
    label
      padding-left:8px;
      display: inline;
    button
      margin-left auto
      background-color:#388ac1
      color: #fff;
      line-height: 2.167;
      border:none;
      padding:0 12px;
//IV
.other
  margin-top:10px
  display:flex;
  flex-direction: row;
  justify-content: space-between;


//calendar
.calendar
  width:350px;
.cal_main
  width:310px;
  margin:8px auto;
  color: rgb(83, 83, 83);
.cal_header
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  select,input
    outline: none;
    height:20px;
    border:1px solid #ccc;
    color: rgb(83, 83, 83);
  #year
    width:62px;
  #month
    width: 85px;
  #marked_date
    width:75px;
  #return_today
    width: 62px;
    background-color: #fff;
.cal_weekday
  border-top:1px solid #a9cfec;
  width:100%;
  border-collapse: collapse;
  .weekdays th
      border-bottom: 1px solid #ddd;
      height: 30px;
.cal_day
  width: 100%;
  height: 100%;
  margin-top:5px;
  tbody
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    tr
      display: flex;
      justify-content: space-between;
      td
        width:40px;
        height:35px;
        display:flex;
        align-items: center;
        justify-content: center;
        color: rgb(50, 51, 51);
        cursor: pointer;
// car top ranking
.car_top_brands
  width:530px;
.ranking
  width:450px;
  height:270px;
  margin:20px auto;
  border:1px solid #ddd;
  border-collapse: collapse
  tr
    height: 25px;
    th
      color: rgb(35, 24, 21);
      line-height: 2.077;
      border:1px solid #ddd;
    td
      border:1px solid #ddd;
      text-align: center;
      color: rgb(50, 51, 51);
      line-height: 2;
      .value
        display: inline-block;
      .meter
        display: inline-block;
        height: 5px;
        width:160px;
        margin-left:20px;
        background-color: #dcdcdc;
        .son
          height: 100%;
  td:nth-of-type(1)
    width: 65px;
  td:nth-of-type(2)
    width: 90px;
.spec:hover
  background-color: #f3f5f6;









