* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #2289bf;
  height: 57px;
  position: relative;
}
header>img {
  position: absolute;
  left: 50px;
  top: 10px;
}
header>form {
  position: absolute;
  right: 80px;
  top: 15px;
}
header>form>fieldset section {
  float: left;
}
header>form>fieldset {
  border: none;
}
header>form>fieldset:after {
  content: '';
  clear: both;
  display: block;
}
header>form>fieldset>legend {
  display: none;
}
header .search input {
  width: 313px;
  height: 28px;
  line-height: 28px;
  border: none;
  border-radius: 25px;
  display: inline-block;
  outline: none;
  background-image: url("images/search_icon.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
  text-indent: 35px;
}
header .login input {
  color: #fff;
  font: 600 12px/2.25 'Adobe Heiti Std';
  background-color: #2289bf;
  border: none;
  padding: 0 35px;
  background-image: url("images/login.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
}
aside {
  background-color: #2a2e3d;
  width: 261px;
  height: 1213px;
}
aside>figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
aside>figure>img {
  background-image: url("images/headpic.png");
  background-repeat: no-repeat;
  background-position: center;
}
aside>figure>figcaption {
  color: #f6f5f5;
  font: 600 16px 'SimHei';
  padding: 0 23px;
}
aside>ul {
  display: flex;
  justify-content: center;
  align-content: center;
}
aside>ul>li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6e8095;
  font: 600 12px 'SimHei';
  padding: 0 35px;
}
aside>ul>li span:first-child {
  font-size: 14px;
}
aside>ul>li:first-child {
  border-right: 1px solid #6e8095;
}
aside>nav {
  padding: 10px 40px;
}
aside>nav li {
  list-style-type: none;
}
aside>nav>ul span.dir_name {
  color: #6e8095;
  font: 600 12px/4 'SimHei';
  padding-left: 12px;
}
aside>nav>ul span.icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}
aside>nav>ul li.report>.icon {
  background-image: url("images/report.png");
}
aside>nav>ul li.file1>.icon {
  background-image: url("images/file1.png");
  padding-right: 3px;
}
aside>nav>ul li.file1 .icon:nth-of-type(2) {
  background-image: url("images/file.png");
}
aside>nav>ul li.file2>.icon {
  background-image: url("images/file2.png");
}
aside>nav>ul li.file2>.icon:nth-of-type(1) {
  background-image: url("images/11.png");
  padding-right: 3px;
  background-position: 0px 4px;
}
aside>nav>ul li.doc1>.icon {
  background-image: url("images/doc1.png");
}
aside>nav>ul li.doc2>.icon {
  background-image: url("images/doc.png");
}
aside>nav>ul li.file3>.icon {
  background-image: url("images/file1.png");
}
aside>nav>ul li.file3 .icon:nth-of-type(2) {
  background-image: url("images/file.png");
}
aside>nav>ul li.collection>.icon {
  background-image: url("images/star.png");
}
aside>nav>ul li.myshare>.icon {
  background-image: url("images/myshare.png");
}
aside>nav>ul li.gallery>.icon {
  background-image: url("images/star.png");
}
aside>nav>ul li.growth_record>.icon {
  background-image: url("images/star.png");
}
aside>nav>ul li.account>.icon {
  background-image: url("images/account.png");
}
aside>nav>ul .second {
  padding-left: 30px;
}
aside>nav>ul .third {
  padding-left: 25px;
}
aside>nav>ul .second>.dir_name,
aside>nav>ul .third>.dir_name {
  font: 600 12px/2.5 'SimHei';
  padding-left: 5px;
}
aside>nav>ul .report>.dir_name,
aside>nav>ul .file2>.dir_name,
aside>nav>ul .doc1>.dir_name {
  color: #fff;
}
div#main {
  position: fixed;
  left: 261px;
  top: 57px;
  width: 100%;
  height: 1213px;
  background-color: #eee;
}
div.directory {
  height: 31px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
div.directory p {
  padding-left: 30px;
  font-size: 12.278px;
  font-family: "SimHei";
  color: #aaa;
  line-height: 1.852;
}
div.directory p span:last-child {
  color: #6898c2;
}
div.search {
  width: 80%;
  height: 86px;
  margin: 17px auto;
  border: 1px solid #f00;
}
div.stat {
  border: 1px solid #00f;
}
div.proj {
  border: 1px solid #008000;
}
div.other {
  border: 1px solid #800080;
}
