* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 12px;
  font-family: "SimHei";
  color: #aaa;
  line-height: 1.381;
  height: 40px;
  background-color: #f4f5f6;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
header {
  background-color: #2289bf;
  height: 57px;
  width: 100%;
  position: relative;
}
header:after {
  content: '';
  clear: both;
  display: block;
}
.logo {
  position: absolute;
  left: 50px;
  top: 10px;
}
.search_page {
  position: absolute;
  right: 100px;
  top: 15px;
  float: left;
}
.search_page input {
  width: 313px;
  height: 28px;
  line-height: 28px;
  border: none;
  border-radius: 25px;
  display: inline-block;
  outline: none;
  background-image: url("images/search_icon.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
  text-indent: 35px;
}
#login {
  color: #fff;
  font: 12px/2.25 'Adobe Heiti Std';
  background-color: #2289bf;
  border: none;
  outline: none;
  padding: 0 35px;
  background-image: url("images/login.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
  position: absolute;
  right: 2px;
  top: 15px;
}
.container {
  display: flex;
  flex: 1 0;
}
aside {
  background-color: #2a2e3d;
  flex: 0 0 260px;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.avatar img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 1px solid #d4d4d6;
  padding: 3px;
}
.avatar figcaption {
  color: #f6f5f5;
  font: 16px 'SimHei';
  padding: 0 23px;
}
.brief_info {
  display: flex;
  justify-content: center;
  align-content: center;
}
.brief_info li {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6e8095;
  font: 12px 'SimHei';
  padding: 0 35px;
}
.brief_info li span:first-child {
  font-size: 14px;
}
.brief_info li:first-child {
  border-right: 2px solid rgba(56,61,78,0.5);
}
.nav_dir {
  padding: 10px 40px;
  color: #6e8095;
  font: 12px/4 'SimHei';
}
.dir_name {
  padding-left: 12px;
}
.icon-arrow,
.icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  background-position: 50% 50%;
}
.report>.icon {
  background-image: url("images/report.png");
}
.file>.icon {
  background-image: url("images/file.png");
}
.file .icon-arrow {
  background-image: url("images/arrow.png");
}
.doc>.icon {
  background-image: url("images/doc.png");
}
.collection>.icon {
  background-image: url("images/star.png");
}
.myshare>.icon {
  background-image: url("images/myshare.png");
}
.gallery>.icon {
  background-image: url("images/star.png");
}
.growth_record>.icon {
  background-image: url("images/star.png");
}
.account>.icon {
  background-image: url("images/account.png");
}
.second {
  padding-left: 30px;
}
.third {
  padding-left: 55px;
}
.second>.dir_name,
.third>.dir_name {
  font: 12px/2.5 'SimHei';
  padding-left: 5px;
}
.active>.dir_name {
  color: #fff;
}
.active>.icon,
.active>.icon-arrow {
  -webkit-filter: brightness(4);
}
.active>.icon-arrow {
  transform: rotate(90deg);
}
#main {
  flex: 1 0 890px;
  background-color: #eee;
}
.directory {
  height: 31px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.directory p {
  padding-left: 30px;
  font-size: 12.278px;
  font-family: "SimHei";
  color: #aaa;
  line-height: 1.852;
}
.directory p span:last-child {
  color: #6898c2;
}
.search_form_container {
  width: 890px;
  height: 160px;
  margin: 20px auto;
}
.search_form {
  height: 85px;
  background-image: url("images/change.png");
  background-repeat: no-repeat;
  background-position: 333px 25px;
  border: none;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 12px;
  font-family: "SimHei";
  line-height: 2.167;
}
.search_form:after {
  content: '';
  height: 85px;
  display: block;
}
.search_form label {
  color: #aaa;
}
.search_form select {
  color: #323333;
  outline: none;
  height: 25px;
  text-indent: 5px;
  font-size: 12px;
  font-family: "SimHei";
}
.search_form section {
  position: absolute;
}
.order {
  left: 30px;
  top: 15px;
}
.order select {
  width: 70px;
  margin-left: 16px;
}
.buyer {
  left: 180px;
  top: 15px;
}
.buyer select {
  width: 110px;
  margin-left: 16px;
}
.seller {
  left: 180px;
  top: 45px;
}
.seller select {
  width: 110px;
  margin-left: 16px;
}
.date {
  left: 400px;
  top: 15px;
}
.date input {
  width: 120px;
  margin-left: 16px;
  text-indent: 5px;
  color: #323333;
  outline: none;
  height: 22px;
}
.num_of_pp {
  left: 400px;
  top: 45px;
}
.num_of_pp select {
  width: 70px;
  margin-left: 16px;
}
.num_of_deal {
  left: 530px;
  top: 45px;
}
.num_of_deal select {
  width: 120px;
  margin-left: 16px;
}
.time_total {
  left: 580px;
  top: 15px;
}
.time_total select {
  width: 70px;
  margin-left: 16px;
}
.search_btn {
  left: 730px;
  top: 30px;
}
.search_btn input {
  width: 50px;
  height: 25px;
  background-color: #388ac1;
  font-size: 12px;
  font-family: "SimHei";
  color: #fff;
  border: none;
}
.reverse {
  font-size: 12px;
  font-family: "SimHei";
  color: #fff;
  line-height: 2.167;
  text-decoration: none;
  position: absolute;
  left: 347px;
  top: 30px;
}
.search_history {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search_history div {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  height: 65px;
}
.toleft,
.toright {
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.toleft {
  background-image: url("images/arrow_left.png");
}
.toright {
  background-image: url("images/arrow_right.png");
}
.history {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #323333;
  line-height: 1.2;
  margin-bottom: 10px;
}
.currency {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #aeaeae;
  font-weight: bolder;
}
.amount {
  font-size: 21px;
  font-family: "Microsoft YaHei";
  color: #ec6500;
  line-height: 0.686;
  -moz-transform: scale(0.949, 1);
  -webkit-transform: scale(0.949, 1);
  -ms-transform: scale(0.949, 1);
}
.history:hover {
  border-top: 3px solid #4389c9;
  box-sizing: border-box;
}
.history_query {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("images/search_history.jpg");
  background-repeat: no-repeat;
  background-position: 20px 15px;
}
.history_query p {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #535353;
  line-height: 1.381;
  margin: 20px;
}
.stat {
  width: 890px;
  margin: 20px auto;
  height: 95px;
  margin-bottom: 10px;
}
.stat_title {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #323333;
  line-height: 1.62;
}
.stat_graphic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stat_graphic li {
  height: 70px;
  width: 200px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px 10px 10px;
  justify-content: space-between;
  border: 1px solid #ddd;
}
.stat_graphic li div {
  width: 60px;
  height: 45px;
}
.stat_graphic li p {
  display: flex;
  flex-direction: column;
}
.stat_graphic li p span:nth-of-type(1) {
  font-size: 12px;
  font-family: "SimHei";
  color: #323333;
  line-height: 2.051;
}
.stat_graphic li p span:nth-of-type(2) {
  font-size: 10px;
  font-family: "SimHei";
  color: #aaa;
  line-height: 2.005;
}
.stat_graphic .green {
  border-left: 4px solid #44b29e;
}
.stat_graphic .green div {
  background-color: #44b29e;
}
.stat_graphic .blue {
  border-left: 4px solid #388ac1;
}
.stat_graphic .blue div {
  background-color: #388ac1;
}
.stat_graphic .red {
  border-left: 4px solid #cf4a36;
}
.stat_graphic .red div {
  background-color: #cf4a36;
}
.stat_graphic .yellow {
  border-left: 4px solid #e2cd47;
}
.stat_graphic .yellow div {
  background-color: #e2cd47;
}
.proj {
  width: 890px;
  margin: 10px auto;
  height: 355px;
  display: flex;
  justify-content: space-between;
}
.proj >div {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.material {
  width: 530px;
}
.nav_tabs {
  display: flex;
  flex-direction: row;
  margin: 15px 20px 0 20px;
}
.nav_tabs li {
  margin-right: 5px;
  width: 80px;
  height: 28px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #535353;
  line-height: 1.381;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededf0;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border: 1px solid #ededf0;
  border-sizing: border-box;
}
.nav_tabs .active {
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  position: relative;
}
.nav_tabs .active:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 27px;
  content: '';
  height: 4px;
  display: block;
  width: 80px;
  background-color: #fff;
}
.tab_pane {
  margin: 0 20px 25px 20px;
  width: 490px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab_pane table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.tab_pane table td {
  width: 101px;
  height: 30px;
  border: 1px solid #ddd;
  font-size: 12px;
  font-family: "SimSun";
  color: #535353;
  line-height: 2.5;
  text-align: center;
}
.tab_pane table td:hover {
  background-color: #f4f6f7;
}
.proj_submit {
  width: 350px;
}
.search_proj {
  height: 270px;
  margin-top: 15px;
  border: none;
}
.search_proj:after {
  conten: "";
  display: block;
  clear: both;
}
.search_proj label {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #c3c2c2;
  line-height: 1.381;
  text-indent: 5px;
}
.search_proj section {
  display: flex;
  flex-direction: column;
  padding: 2px 20px;
}
.search_proj section input,
.search_proj section textarea {
  border: none;
  border-bottom: 1px solid #ddd;
  height: 30px;
  outline: none;
  text-indent: 5px;
  font-size: 12px;
}
.search_proj section input::-webkit-input-placeholder,
.search_proj section textarea::-webkit-input-placeholder {
  color: #000;
}
.search_proj section input::-moz-placeholder,
.search_proj section textarea::-moz-placeholder {
  color: #000;
}
.search_proj section input:-ms-input-placeholder,
.search_proj section textarea:-ms-input-placeholder {
  color: #000;
}
.search_proj section textarea {
  height: 120px;
  padding: 2px;
  resize: none;
}
.search_proj .proj_title {
  padding-bottom: 0;
}
.search_proj .proj_price {
  float: left;
  width: 30%;
  padding: 0 0 0 20px;
  border-right: 1px solid #ddd;
}
.search_proj .proj_manager {
  padding: 0 20px 0 0;
}
.search_proj .proj_agreement {
  flex-direction: row;
  align-items: center;
  float: left;
}
.search_proj .proj_agreement input {
  border: none;
}
.search_proj .proj_search {
  float: right;
  width: 51px;
  height: 26px;
}
.search_proj .proj_search input {
  background-color: #388ac1;
  font-size: 12px;
  font-family: "SimHei";
  color: #fff;
  line-height: 2.167;
}
.other {
  width: 890px;
  margin: 10px auto;
  height: 355px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.other >div {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.calendar {
  width: 350px;
}
.cal_main {
  height: 290px;
  width: 310px;
  margin: 8px auto;
  font-family: "SimHei";
  font-size: 12px;
  color: #535353;
  line-height: 1.2;
}
.cal_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cal_header select,
.cal_header input {
  outline: none;
  height: 20px;
  border: 1px solid #ccc;
  font-family: "SimHei";
  font-size: 12px;
  color: #535353;
  line-height: 1.2;
}
.cal_header #year {
  width: 62px;
}
.cal_header #month {
  width: 85px;
}
.cal_header #marked_date {
  width: 75px;
}
.cal_header #return_today {
  width: 62px;
  background-color: #fff;
}
.cal_weekday {
  border-top: 1px solid #a9cfec;
  width: 100%;
  border-collapse: collapse;
}
.cal_weekday .weekdays th {
  border-bottom: 1px solid #ddd;
  height: 30px;
}
.cal_day {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
.cal_day tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cal_day tbody tr {
  display: flex;
  justify-content: space-between;
}
.cal_day tbody tr td {
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323333;
  cursor: pointer;
}
.car_top_brands {
  width: 530px;
}
.ranking {
  width: 450px;
  height: 270px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.ranking tr {
  height: 25px;
}
.ranking tr th {
  font-size: 13px;
  font-family: "SimHei";
  color: #231815;
  line-height: 2.077;
  border: 1px solid #ddd;
}
.ranking tr td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  font-family: "SimHei";
  color: #323333;
  line-height: 2;
}
.ranking tr td .value {
  display: inline-block;
}
.ranking tr td .meter {
  display: inline-block;
  height: 5px;
  width: 160px;
  margin-left: 20px;
  background-color: #dcdcdc;
}
.ranking tr td .meter .son {
  height: 100%;
}
.ranking td:nth-of-type(1) {
  width: 65px;
}
.ranking td:nth-of-type(2) {
  width: 90px;
}
.spec:hover {
  background-color: #f3f5f6;
}
