*
  margin: 0
  padding: 0

header
  background-color: #2289bf
  height: 57px
  width:100%
  min-width: 1280px;
  position: relative
header>img
  position: absolute
  left:50px
  top:10px
header>form
  position: absolute
  right:100px
  top:15px
  float:left
header:after
    content: ''
    clear:both
    display: block
header form input
  width: 313px
  height: 28px
  line-height: 28px
  border:none
  border-radius: 25px
  display: inline-block
  outline: none
  background-image: url(images/search_icon.png)
  background-repeat: no-repeat
  background-position: 15px 5px
  text-indent: 35px
header>input
  color: #FFFFFF
  font: 12px/2.25 'Adobe Heiti Std'
  background-color:  #2289bf
  border:none
  outline: none;
  padding:0 35px
  background-image: url(images/login.png)
  background-repeat: no-repeat
  background-position: 15px 5px
  position: absolute
  right:2px
  top:15px


div.container
  width:100%;
  min-width: 1280px;
  margin:0 auto
  display: flex;
  flex-direction: row;

aside
  background-color:#2a2e3d
  width: 260px
  height: 1213px
aside>figure
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding:15px
aside>figure>img
  width:57px;
  height:57px;
  border-radius: 50%;
  border:1px solid #d4d4d6;
  padding:3px;

aside>figure>figcaption
  color: #F6F5F5
  font: 16px 'SimHei'
  padding:0 23px
aside>ul
  display: flex
  justify-content: center
  align-content: center
aside>ul>li
  list-style-type: none
  display: flex
  flex-direction: column
  text-align: center
  color: #6E8095
  font: 12px 'SimHei'
  padding:0 35px
aside>ul>li span:first-child
   font-size:14px
aside>ul>li:first-child
  border-right: 1px solid #6E8095

aside>nav
  padding:10px 40px
aside>nav li
    list-style-type: none
aside>nav>ul span.dir_name
  color: #6E8095
  font:  12px/4 'SimHei'
  padding-left:12px

aside>nav>ul span.icon
  background-repeat: no-repeat
  display: inline-block
  width: 12px
  height: 12px

aside>nav>ul li.report>.icon
  background-image: url(images/report.png)
aside>nav>ul li.file1>.icon
  background-image: url(images/file1.png)
  padding-right:3px
aside>nav>ul li.file1 .icon:nth-of-type(2)
  background-image: url(images/file.png)
aside>nav>ul li.file2>.icon
  background-image: url(images/file2.png)
aside>nav>ul li.file2>.icon:nth-of-type(1)
  background-image: url(images/11.png)
  padding-right:3px
  background-position: 0px 4px
aside>nav>ul li.doc1>.icon
  background-image: url(images/doc1.png)
aside>nav>ul li.doc2>.icon
  background-image: url(images/doc.png)
aside>nav>ul li.file3>.icon
  background-image: url(images/file1.png)
aside>nav>ul li.file3 .icon:nth-of-type(2)
  background-image: url(images/file.png)
aside>nav>ul li.collection>.icon
  background-image: url(images/star.png)
aside>nav>ul li.myshare>.icon
  background-image: url(images/myshare.png)
aside>nav>ul li.gallery>.icon
  background-image: url(images/star.png)
aside>nav>ul li.growth_record>.icon
  background-image: url(images/star.png)
aside>nav>ul li.account>.icon
  background-image: url(images/account.png)
aside>nav>ul .second
  padding-left:30px
aside>nav>ul .third
  padding-left: 55px
aside>nav>ul .second>.dir_name,
aside>nav>ul .third>.dir_name
  font:  12px/2.5 'SimHei'
  padding-left:5px
aside>nav>ul .report>.dir_name,
aside>nav>ul .file2>.dir_name,
aside>nav>ul .doc1>.dir_name
  color:#fff



div#main
  // position: fixed
  // left:261px
  // top:57px

  width:100%;
  height: 1213px
  background-color: #eee

div.directory
  height: 31px
  background-color: #fff
  display: flex
  align-items: center
div.directory p
  padding-left:30px
  font-size: 12.278px
  font-family: "SimHei"
  color: rgb(170, 170, 170)
  line-height: 1.852
div.directory p span:last-child
  color:#6898c2

// div.wrapper
//   width:100%
//   display: flex
//   flex-direction: column

.search_form_container
  width:890px
  height: 160px
  margin:20px auto

  .search_form
    height:85px
    background-image: url(images/change.png)
    background-repeat: no-repeat
    background-position: 333px 25px

  fieldset
    border: none
    position: relative
    background-color: #fff
    border-top:1px solid #ddd
    border-left:1px solid #ddd
    &:after
      content: ''
      height:85px
      display: block
    legend
      display: none
    a
      font-size: 12px
      font-family: "SimHei"
      color: rgb(255, 255, 255)
      line-height: 2.167
      text-decoration: none
      position:absolute
      left:346px
      top:30px
    label
      font-size: 12px
      font-family: "SimHei"
      color: rgb(170, 170, 170)
      line-height: 2.167
    select
      font-size: 12px
      font-family: "SimHei"
      color: rgb(50, 51, 51)
      line-height: 2.167
      outline:none
      height: 25px
      text-indent: 5px
    section
      position: absolute
    .order
      left:30px
      top:15px
      select
        width:70px
        margin-left:16px
    .buyer
      left:180px
      top:15px
      select
        width:110px
        margin-left:16px
    .seller
      left:180px
      top:45px
      select
        width:110px
        margin-left:16px
    .date
      left:400px
      top:15px
      input
        width:120px
        margin-left:16px
        text-indent: 5px
        font-size: 12px
        font-family: "SimHei"
        color: rgb(50, 51, 51)
        outline:none
        height: 22px
    .num_of_pp
      left:400px
      top:45px
      select
        width:70px
        margin-left:16px
    .num_of_deal
      left:530px
      top:45px
      select
        width:120px
        margin-left:16px
    .time_total
      left:580px
      top:15px
      select
        width:70px
        margin-left:16px
    .search_btn
      left:730px
      top:30px
      input
        width:50px
        height: 25px
        background-color: #388ac1
        font-size: 12px
        font-family: "SimHei"
        color: rgb(255, 255, 255)
        line-height: 2.167
        border:none



  .search_history
    height: 65px
    margin-top:10px

    display:flex
    flex-direction:row
    justify-content: space-between
    div
      background-color: #fff
      border-top:1px solid #ddd
      border-left:1px solid #ddd
      height:65px
    .toleft,
    .toright
      width:30px
      background-repeat: no-repeat
      background-position:center
    .toleft
      background-image: url(images/arrow_left.png)
    .toright
      background-image: url(images/arrow_right.png)
    .history
      width:110px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      p:nth-of-type(1)
        font-size: 12px
        font-family: "Microsoft YaHei"
        color: rgb(50, 51, 51)
        line-height: 1.2
        margin-bottom: 10px
      p
        span:nth-of-type(1)
          font-size: 12px
          font-family: "Microsoft YaHei"
          color:#aeaeae
          font-weight: bolder
        span:nth-of-type(2)
          font-size: 21px
          font-family: "Microsoft YaHei"
          color: rgb(236, 101, 0)
          line-height: 0.686
          -moz-transform: scale(0.949, 1)
          -webkit-transform: scale(0.949, 1)
          -ms-transform: scale(0.949, 1)
    .history:hover
      border-top:3px solid #4389c9
      box-sizing: border-box
    .history_query
      width:130px
      display: flex
      align-items: center
      justify-content: flex-end
      background-image: url(images/search_history.jpg)
      background-repeat: no-repeat
      background-position: 20px 15px

      p
        font-size: 12px
        font-family: "Microsoft YaHei"
        color: rgb(83, 83, 83)
        line-height: 1.381
        margin:20px



.stat
  width:890px
  margin:20px auto
  height: 95px
  margin-bottom:10px
  p
    font-size: 12px
    font-family: "Microsoft YaHei"
    color: rgb(50, 51, 51)
    line-height: 1.62
  ul
    display:flex
    flex-direction: row
    justify-content: space-between

    li
      height: 70px
      width:200px
      list-style-type: none
      background-color: #fff
      box-sizing:border-box
      display:flex
      flex-direction: row
      align-items: center
      padding:10px 15px 10px 10px
      justify-content: space-between
      border:1px solid #ddd
      div
        width:60px
        height:45px

      p
        display:flex
        flex-direction:column
        span:nth-of-type(1)
          font-size: 12px
          font-family: "SimHei"
          color: rgb(50, 51, 51)
          line-height: 2.051
        span:nth-of-type(2)
          font-size: 10px
          font-family: "SimHei"
          color: rgb(170, 170, 170)
          line-height: 2.005



    .green
      border-left:4px solid #44b29e
      div
        background-color: #44b29e

    .blue
      border-left:4px solid #388ac1
      div
        background-color: #388ac1
    .red
      border-left:4px solid #cf4a36
      div
        background-color: #cf4a36
    .yellow
      border-left:4px solid #e2cd47
      div
        background-color: #e2cd47


.proj
  width:890px
  margin:10px auto
  height: 355px
  display: flex
  justify-content: space-between
  >div
    border:1px solid #ddd
    border-radius: 8px
    background-color: #fff
    overflow: hidden
  .material
    width:530px

  .proj_submit
    width: 350px
  h2
    font-size: 12px
    font-family: "SimHei"
    color: rgb(170, 170, 170)
    line-height: 1.381
    height: 40px
    background-color: #f4f5f6
    display: flex
    align-items: center
    padding-left: 10px
    border-bottom:1px solid #ddd
  .nav_tabs
    display: flex
    flex-direction: row
    margin:15px 20px 0 20px
    li
      list-style-type: none
      margin-right:5px
      width: 80px
      height: 28px
      text-decoration: none
      font-size: 12px
      font-family: "Microsoft YaHei"
      color: rgb(83, 83, 83)
      line-height: 1.381
      display: flex
      justify-content: center
      align-items: center
      background-color: #ededf0
      border-radius: 5px 5px 0 0
      cursor: pointer;
      border:1px solid #ededf0;
      border-sizing:border-box;
    .active
      border:1px solid #ddd
      border-radius: 5px 5px 0 0
      background-color: #fff;
      position: relative;
      &:after
        position: absolute
        left:0
        right:0
        top:27px
        content:''
        height:4px
        display: block
        width: 80px
        background-color: #fff


  .tab_content
    margin:0 20px 25px 20px
    width: 490px
    height: 250px
    border:1px solid #ddd
    border-radius: 0 4px 4px 4px
    display: flex
    justify-content: center
    align-items: center

    table
      border:1px solid #ddd
      border-collapse: collapse
      td
        width: 101px
        height: 30px
        border:1px solid #ddd
        font-size: 12px
        font-family: "SimSun"
        color: rgb(83, 83, 83)
        line-height: 2.5
        text-align: center
        &:hover
          background-color: #f4f6f7
  .proj_submit form fieldset
    height: 270px;
    margin-top:15px;
    border:none;
    &:after
      conten:""
      display:block
      clear:both
    legend
      display: none;
    label
      font-size: 12px;
      font-family: "Microsoft YaHei";
      color: rgb(195, 194, 194);
      line-height: 1.381;
      text-indent:5px;
    section
      display: flex;
      flex-direction: column;
      padding:2px 20px;
      input, textarea
        border:none;
        border-bottom: 1px solid #ddd;
        height:30px;
        outline:none;
        text-indent:5px;
        font-size:12px;
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder
        color:#000;
      input::-moz-placeholder,
      textarea::-moz-placeholder
        color:#000;
      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder
        color:#000;
      textarea
        height:120px;
        padding:2px;
        resize:none;
    .proj_title
      padding-bottom: 0;
    .proj_price
      float:left;
      width: 30%;
      padding:0 0 0 20px;
      border-right:1px solid #ddd;
    .proj_manager
      padding:0 20px 0 0;
    .proj_agreement
      flex-direction: row;
      align-items: center;
      float:left;
      input
        border:none;
    .proj_search
      float:right;
      width: 51px;
      height: 26px;
      input
        background-color:#388ac1
        font-size: 12px;
        font-family: "SimHei";
        color: rgb(255, 255, 255);
        line-height: 2.167;

.other
  width:890px
  margin:10px auto
  height: 355px
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  >div
    border:1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    >h2
      font-size: 12px
      font-family: "SimHei"
      color: rgb(170, 170, 170)
      line-height: 1.381
      height: 40px
      background-color: #f4f5f6
      display: flex
      align-items: center
      padding-left: 10px
      border-bottom:1px solid #ddd
  .calendar
    width:350px;
    .cal_main
      height: 290px;
      width:310px;
      margin:8px auto;

      .cal_header
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        select,input
          outline: none;
          height:20px;
          font-size: 12px;
          font-family: "SimHei";
          color: rgb(83, 83, 83);
          line-height: 1.2;
          border:1px solid #ccc;
        #year
          width:62px;
        #month
          width: 85px;
        #marked_date
          width:75px;
        #return_today
          width: 62px;
          background-color: #fff;
      .cal_weekday
        border-top:1px solid #a9cfec;
        width:100%;
        border-collapse: collapse;
        .weekdays
          font-family: "SimHei";
          color: rgb(83, 83, 83);
          font-size: 12px;
          line-height: 1.2;
          th
            border-bottom: 1px solid #ddd;
            height: 30px;
      .cal_day
        width: 100%;
        height: 100%;
        margin-top:5px;

        tbody
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          tr
           display: flex;
           justify-content: space-between;
           td
             width:40px;
             height:35px;
             display:flex;
             align-items: center;
             justify-content: center;
             font-size: 12px;
             font-family: "SimHei";
             color: rgb(50, 51, 51);
             cursor: pointer;

  .car_top_brands
    width:530px;
    .ranking
      width:450px;
      height:270px;
      margin:20px auto;
      border:1px solid #ddd;
      border-collapse: collapse
      tr
        height: 25px;
        th
          font-size: 13px;
          font-family: "SimHei";
          color: rgb(35, 24, 21);
          line-height: 2.077;
          border:1px solid #ddd;
        td
          border:1px solid #ddd;
          text-align: center;
          font-size: 12px;
          font-family: "SimHei";
          color: rgb(50, 51, 51);
          line-height: 2;
          .value
            display: inline-block;
          .meter
            display: inline-block;
            height: 5px;
            width:160px;
            margin-left:20px;
            background-color: #dcdcdc;
            .son
              height: 100%;
      td:nth-of-type(1)
        width: 65px;
      td:nth-of-type(2)
        width: 90px;
      .spec:hover
        background-color: #f3f5f6;



















