* {
	margin: 0;
	padding: 0;	
}

#wrapper {
	border:1px solid red;
	background-color: #ccc;
	overflow: hidden;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#wrapper p {
	text-indent: 30px;
	width: 400px;
	height: 200px;
	
		

}
#wrapper:after {
	content: '';
	display: block;
	clear: both;
}
#left {
	background-color: #fc0;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	left:-50px;
	top:-50px;
	z-index: -1;

}

#right {
	background-color: #fc0;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	right:-50px;
	bottom:-50px;
	z-index: -1;
	

}