* {
	margin: 0;
	padding: 0;	
}

#wrapper {
	background-color: #ccc;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#wrapper p {
	text-indent: 30px;	
	width: 400px;	
}

#left {
	width:0;
	height: 0;
	border-radius: 50px;
	border:50px solid transparent;
	border-right-color:#fc0;
	transform:rotate(45deg);
	position: absolute;
	left:-50px;
	top:-50px;
	z-index: -1;

}

#right {
	width:0;
	height: 0;
	border-radius: 50px;
	border:50px solid transparent;
	border-right-color:#fc0;
	transform:rotate(-135deg);
	position: absolute;
	right:-50px;
	bottom:-50px;
	z-index: -1;
	

}