* {
      margin: 0px;
      padding: 0px;
    }

    input {
      width: 140px;
      height: 30px;
      margin: 10px;
      font-size: 18px;
      border-radius: 2px;
      box-shadow: 1px 1px #ddd;
      border: none;
      outline: none;
      background-color: #adb39b;
      color: #fff;
    }

    .search,.add-input {
      width: 200px;
      color: #000;
      background-color: #fff;
      border: 1px solid #adb39b;
      padding: 0 5px;
    }

    #btn,#btn2 {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      border: none;
    }

    div {
      border: 1px solid #484111;
      border-radius: 1px;
      background-color: #fff;
      height: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .supper {
      height: 300px;
      margin: 5px;
    }

    .apple,
    .study,
    .book,
    .school,
    .bemant,
    .glass,
    .cat2 {
      width: 40%;
    }

    .fish,
    .phone {
      width: 6%;
    }

    .cat1,
    .note,
    .human,
    .program {
      width: 45%;
    }

    .pear,
    .pig,
    .cola,
    soccer,
    .operate,
    .code,
    .man {
      width: 20%;
    }