doctype html
head
  title task20
  meta(charset="utf-8")
  link(rel="stylesheet", href="task20.css")
body
  div.operator
    textarea( id="input")
    input(type="button" value="Left-in" id="left-in")
    input(type="button" value="Query" id="querybtn")
    input(type="text"  id="queryinput")
    //- input(type="button" value="Right-in" id="right-in")
    //- input(type="button" value="Left-out" id="left-out")
    //- input(type="button" value="Right-out" id="right-out")
  div.display
  script(src="task20.js")
