*
  margin 0
  padding 0
#aqi-chart-wrap
  width 1200px
  height 500px
  margin 50px auto
  border 1px dashed #ddd
  display flex
  justify-content space-around
  align-items flex-end
  background-color: #eee
.day-view
  .item
    width 1%
.week-view
  .item
    width 5%
.month-view
  .item
    width 20%